<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">


    <!-- #Formulario para Cadastro -->
    <form [formGroup]="pessoaForm" (submit)="enviar()" >
      <ion-item lines="none">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
     <ion-button padding shape="round" expand="block" type="submit" >Gravar</ion-button> 
    </form>
    <!-- #fim do formulaário -->

    <!-- #começo da lista de item cadastrados no storage -->
    <ion-item *ngFor="let arrayPessoa of arrayPessoa" lines="nome">
      <ion-label>
        {{arrayPessoa.nome}}
      </ion-label>
    </ion-item>

  </div>
</ion-content>
